* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #70310529;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: -90px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: linear-gradient(#2E3192, #1BFFFF);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 1px 5px;
}

.top {
    cursor: pointer;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-left: -100px;
    color: white;
    font-weight: bold;
}

.top span {
    font-size: small;
}

.links {
    text-decoration: none;
}

.links>li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
}

.links>li>a {
    font-size: large;
    margin-left: -20px;
}

.links>li>a:hover {
    text-decoration: none;
    border-radius: 10px;
    font-size: larger;
    color: #faf209;
}

.action {
    color: black;
    padding: 9px 25px;
    background-color: #efecea;
    border-radius: 50px;
    transition: 0.3s;
    margin-right: -90px;
}

.action:hover {
    background-color: #ff0000;
    ;
}

nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 0 20px;
    text-decoration: none;
    font-size: 8px;
}

nav a:hover {
    text-decoration: underline;
}

#img1 {
    margin: 20px;
    border-radius: 50px;
    background-position: center;
    margin-left: 250px;
    box-shadow: 0px 0px 8px;
}

.img_container {
    display: flex;
    justify-content: space-around;
    flex-grow: 2px 2px 2px;
    margin-bottom: 50px;
}


.card {
    width: 200px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.address {
    color: rgb(255, 255, 255);
    background: linear-gradient(#476583, #47652093);
    width: 500px;
    padding: 20px;
    border-radius: 20px;

}

#foot {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15%;
    background: linear-gradient(#2E3192, #1BFFFF);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 1px 5px;

}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}